@model Introductie.Models.Afspraak

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="~/css/framework.css" />

<h2>Details</h2>

<div>
    <h4>Afspraak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tijd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.KlantID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AfspraakID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
